.page--our-menu {
    & .btns-container {
        margin-bottom: 10px;
        &--item {
            margin-bottom: 10px;
        }
    }
    & .dishes-list {
        &--item {
            text-decoration: none;
        }
    }
}
