* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: $color-black;
    font-family: $font-family-montserrat;
    font-weight: 700;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.375rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}

p,
a,
li,
span {
    color: $color-black;
    font-size: 1.125rem;
    margin-bottom: 0;
    @media (min-width: 768px) {
        font-size: 1.25rem;
    }
}

a {
    transition: $transition-standard;
    &:hover {
        color: $color-secundary;
    }
}

h5,
p,
a,
li,
span {
    &.highlight {
        color: $color-secundary;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

span {
    &.small {
        font-size: 0.75rem;
    }
    &.error {
        display: block;
        color: $color-danger;
    }
    &.success {
        display: block;
        color: $color-confirm;
    }
}

button {
    font-family: $font-family-montserrat;
    font-size: 1rem;
    font-weight: 700;
    background-color: $color-primary;
    padding: 7px 30px;
    border: none;
    border-radius: 10px;
    transition: $transition-standard;
    &:hover {
        background-color: $color-primary--hover;
    }
    &[type="submit"] {
        margin-top: 30px;
    }
    &.disabled {
        background-color: $color-disabled;
        color: $color-black--40;
    }
    &.confirm {
        background-color: $color-confirm;
        &:hover {
            background-color: $color-confirm--hover;
        }
    }
    &.danger {
        background-color: $color-danger;
        &:hover {
            background-color: $color-danger--hover;
        }
    }
    &.switch {
        width: 50%;
        background-color: $color-white;
        border: 2px solid $color-primary;
        transition: $transition-standard;
        &:hover {
            background-color: $color-disabled;
        }
        &.left {
            border-radius: 10px 0 0 10px;
        }
        &.right {
            border-radius: 0 10px 10px 0;
        }
        &.active {
            background-color: $color-primary;
            &:hover {
                background-color: $color-primary--hover;
            }
        }
    }
    &.fill {
        width: 100%;
    }
    &.small {
        width: 50px;
        height: 50px;
        padding: 0;
    }
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid $color-primary;
    border-radius: 10px;
    padding: 7px 20px;
    &:focus-visible {
        outline: none;
    }
}

textarea {
    height: 100px;
}

.card {
    position: relative;
    border: 3px solid $color-primary;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 150px;
    transition: $transition-standard;
    & p,
    & a,
    & li,
    & span {
        color: $color-black;
        font-size: 1rem;
        margin-bottom: 0;
        @media (min-width: 768px) {
            font-size: 1.125rem;
        }
    }
    &-thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    &-title {
        position: absolute;
        color: $color-white;
        text-align: center;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black--60;
        border-radius: 8px;
        transition: $transition-standard;
    }
    &-btns-container {
        margin-top: 20px;
        & button[type="submit"] {
            margin-top: 0;
        }
    }
    &:hover {
        border-color: $color-primary--hover;
        & .overlay {
            background-color: $color-black--40;
        }
    }
    @media (min-width: 768px) {
        height: 200px;
    }
    @media (min-width: 1200px) {
        height: 250px;
    }
}

.form {
    &-group {
        margin-bottom: 10px;
    }
    &-item {
        position: relative;
        margin-bottom: 10px;
        & label {
            font-size: 1.125rem;
            margin: 0;
            padding: 0;
        }
        & input,
        & textarea {
            &.input {
                &-error {
                    border-color: $color-danger;
                }
                &-success {
                    border-color: $color-confirm;
                }
            }
        }
        &.checkbox {
            margin-bottom: 0;
            & .PrivateSwitchBase-root-1 {
                padding: 0;
                padding-right: 10px;
                & .MuiSvgIcon-root {
                    fill: $color-primary;
                }
            }
        }
        &.switch {
            & label {
                display: block;
            }
            margin-bottom: 0;
            & .MuiSwitch-root {
                margin-left: -12px;
            }
            & .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
                background-color: $color-primary;
            }
            & .MuiSwitch-colorSecondary.Mui-checked .MuiSwitch-thumb {
                background-color: $color-primary;
            }
        }
        & .thumbnail-preview {
            width: 80px;
            height: 80px;
            border: 1px solid $color-primary;
            border-radius: 10px;
            &.error {
                border-color: $color-danger;
            }
            &.success {
                border-color: $color-confirm;
            }
            & .upload-thumbnail {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        & i {
            &.password-visibility {
                position: absolute;
                top: 32px;
                right: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    margin-top: 60px;
    padding: 60px 0;
}

.section {
    margin-top: 30px;
}

.brand {
    font-size: 1.75rem;
    text-decoration: none;
    & span {
        color: $color-secundary;
        font-size: 1.75rem;
    }
    &:hover {
        color: $color-black;
    }
}

.back-btn {
    position: absolute;
    top: 80px;
    & .btn-icon {
        width: 30px;
        height: 30px;
        transition: $transition-standard;
        &:hover {
            color: $color-secundary;
            cursor: pointer;
        }
    }
}

.divider {
    height: 2px;
    background-color: $color-disabled;
    margin: 20px 0;
}

.hidden {
    display: none !important;
}
